<div class="container marginTopXL">
  <div class="schedule">
    <%= link_to "Schedule a Photoshoot", new_event_path, class: "btn btn-outline" %>
  </div>
  <%= month_calendar events: @events do |date, events| %>
    <%= date.day %>
    <% events.each do |e| %>
    <div class="event">
      <%= e.name %> @ <%= e.start_time.strftime("at %I:%M%p") %>
    </div>
  <% end %>
  <% end %>
</div>
